.feedback-form{
    padding: 24px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    max-width: 408px;    
    margin-top: 8px;
}
input{
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 1);
    padding: 8px 16px;
    color: rgb(46, 47, 66);
    width: 360px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    outline-offset: 4px;
    outline: transparent;
}
textarea{
    display: block;
    resize: none;
    width: 360px;
    height: 80px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid rgba(128, 128, 128, 1);
    border-radius: 4px;
    padding: 8px 16px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    outline-offset: 4px;
    outline: transparent;
}

input:focus,textarea:focus{
    border-color: rgba(0, 0, 0, 1);
}
label{
        font-family: Montserrat,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
}
button{
    width: 95px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(78, 117, 255);
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    border: transparent;
    transition: background-color 300ms linear;
}
button:hover{
    background-color: rgb(108, 140, 255)
}
label:focus-within{
    color:rgb(78, 117, 255);
}